* {
		margin:0;
		padding:0;
}

body {
		font-family: "Helvetica";
        font-size:1em;
        background:#ffffff;
}

#calendar_table {
	text-align: center; 
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #3425db;
	background-color: #0daad1;
	border-style: outset;
	border-collapse: collapse;
}

#calendar_table th {
	width: 100px;
	height: 30px;
}
 
#calendar_table tr td {
	width: 100px;
	height: 60px;
}

h2 {
	text-align: center;
}
